
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    position: relative;
}

header h1{
    margin-bottom: 0px;
    width: 100%;

}


.one {
    background-color: rgb(55, 61, 70);
    height: 350px;
    width: 100%;
    font-family: "Young Serif", serif;
    color: red;
    position: relative;
}


.one .image {
    background-image: url(../images/tailor2.png);
    height: 100%;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;

    margin-left: 30%;



}
.one .text{
    text-align: center;
    margin-top: -250px;

}

.one button {
    height: 30px;
    width: 200px;
    border-radius: 2px;
    border: 2px solid black;
    background-color: black;
    color: white;
    position: absolute;
    left: 43%;

}
.one button:hover {
    cursor: pointer;
    border: 2px solid turquoise;
}

.two {
    background-color: black;
    width: 100%;
    height: 150px;
    text-align: center;
    color: aliceblue;
    border: 1px solid black;
}
.two h3 {
margin: 0;
margin-top: 20px;
}
.two button {
    height: 40px;
    width: 200px;
    border-radius: 2px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.788);
    color: white;
}
.two button:hover{
    cursor: pointer;
    background-color: turquoise;
}
.two button::after{
    color: brown;
}

.measurement {
line-height: 10em;
background-image: url(../images/measurement2.png);
background-size: contain;
background-repeat: no-repeat;
background-position: top center;
height: 70%;
margin-top: 10px;
color: turquoise;
cursor: pointer;
}
.design {
    line-height: 10em;
    background-image: url(../images/design2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 70%;
    margin-top: 10px;
    color: turquoise;
    cursor: pointer;
}
.fit {
    line-height: 10em;
    background-image: url(../images/fit2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5px;
    color: turquoise;
    cursor: pointer;
    }
