
.page{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

header h2{
    margin-bottom: 0px;
}
.one {
    background-color: white;
    height: 350px;
    width: 100%;
    border: 1px solid rgb(199, 186, 186);

    color: rgb(233, 212, 91);
    text-align: left;

}


.one .image {
    position: relative;
    background-image: url(../images/tailor.avif);
    height: 100%;
    width: 40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    left: 20%;



}
.one .text {
    position: relative;
    bottom: 70%;
    left: 49%;


}

.one button {
    height: 30px;
    width: 200px;
    border-radius: 2px;
    border: 2px solid black;
    background-color: white;
    color: rgb(233, 212, 91);
    position: relative;
    bottom: 70%;
    left: 49%;

}
.one button:hover {
    cursor: pointer;
}

.two {
    background-color: rgb(233, 212, 91);
    width: 100%;
    height: 150px;
    text-align: center;
}
.two h3 {
margin: 0;
margin-top: 20px;
}
.two button {
    height: 40px;
    width: 200px;
    border-radius: 2px;
    border: 2px solid black;
    background-color: rgb(233, 212, 91);
    color: white;
}
.two button:hover{
    cursor: pointer;
}
.two button::after{
    color: brown;
}

.measurement {
line-height: 10em;
background-image: url(../images/measurement.png);
background-size: cover;
background-position: top center;
height: 90%;
margin-top: 10px;
color: rgb(233, 212, 91);
cursor: pointer;
}
.design {
    line-height: 10em;
    background-image: url(../images/design.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 70%;
    margin-top: 10px;
    color: rgb(233, 212, 91);
    cursor: pointer;
}
.fit {
    line-height: 10em;
    background-image: url(../images/fit.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    margin-top: 5px;
    color: rgb(233, 212, 91);
    cursor: pointer;
    }
